body{
  margin: 0 0 0 0;
  padding: 0px;
  background-color: #CBD2B4;
  box-sizing: border-box;
}
.main{
  max-width: 900px;
  margin: 0 auto;
}
.box{
  max-width: 600px;
  padding: 20px;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 5vh;
  box-shadow: -5px 4px 10px rgba(64, 102, 76, 1);
  border-radius: 10px;
}
.title{
  font-size: 35px;
}
.form_containor{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 15px;
  margin-top: 8%;
}
.from_control{
  display: flex;
  flex-direction: column;
}
label{
  font-size: 13px;
  margin-bottom: 5px;
}
input, select, textarea{
  padding: 5px 5px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
}
input:focus{
  outline-color: red;
}
.apply{
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
}
button{
  background-color: #EC3D3D;
  padding: 3px;
  border: transparent 1px solid;
  border-radius: 50px;
  transition: 0.3s ease-out;
  color: #FFFFFF;
}
button:hover{
  background-color: green;
  color: black;
  cursor: pointer;
  border: 2px solid blue;
  transition: 0.3s ease-in;
}